<title>About This Folder</title>
<div style="text-align:center;font-size:50px;">About This Folder &bull; Version 1</div>
<br><br>Hello,
<br>
<p>Thank you for taking the time to look at this document concerning the contents of this folder. Before you get into the description of what this folder is,
allow me to first tell you what it is not: a virus. This folder, although possible that it was exploited by someone else, was not originally intended to be a virus
when it was created. If you are concerned that this folder has been violated by someone else, please read the "I think the folder's been exploited! What do I do?" section.
It details steps that you can take to clean up your folder when someone's violated it, without losing your valuable program files.</p>

<div id="title"><i>Where did this folder come from?</i></div>
<p>Most likely, this folder was created on your computer after you ran a program that you downloaded from the Programmer's World Forums
(<a href="http://www.programmersworld.elementfx.com">http://www.programmersworld.elementfx.com</a>). All new Programmer's World Forums programs use this
folder to store any source files that may be needed by the program in order to function properly. Although most Programmer's World programs can operate without
making use of this folder, your experience with our programs is much better whenever this folder is made use of.</p>

<div id="title"><i>Why didn't you just use the "Program Files" folder?</i></div>
<p>You may notice that some older Programmer's World programs do make use of the "Program Files" folder, and you may also have noticed that these older
programs sometimes caused permissions errors to be thrown. Our usage of this folder allows us to control everything about permissions given to the programs
that we write. There's really nothing more to explain about this folder's purpose.</p>

<div id="title"><i>What programs use this folder?</i></div>
<p>Technically, only programs written by the Programmer's World Forums should be storing information in this folder, but obviously, what should be and what
may be can be two very different things. For safety reasons, you should assume that any contents in this folder that are not approved by the Programmer's World
are viruses, and should be removed immediately.<br><br>Program's approved by the Programmer's World are:<br>
<ul><li>Programmer's World Program Files Repair Tool</li><li>Tic-Tac-Toe</li></ul></p>

<div id="title"><i>How can I be sure that my approved programs list is up to date?</i></div>
<p>As you might have guessed, the Programmer's World Forums does occasionally update the approved programs list. These updates are not made following a
particular schedule, and can be made whenever necessary. To make sure that the program list stays up to date, this page has a system built into it that
connects to our server, and compares the contents of this page to the contents of the file hosted on our server. If the system determines that there is
a difference in the file's contents, you will be prompted to update this page. Page updates may take place even when the approved programs list has not
been changed, but something else has. If you are not connected to the internet, this page will not scan for updates, however we are working to build an
update check system into all of our programs, which means that if you are not connected to the internet, you will be able to get updates that are bundled
with the program, and nothing more. We are hoping to make this system advanced enough so that if you are connected to the internet, you can pull updates
from our server, but can get only that which is included in the program if you are not.</p>

<div id="title"><i>I think the folder's been exploited! What do I do?</i></div>
<p>If you think that your folder has been exploited in some way, there is an easy way to clean it up. In the same folder that you found this document,
there is a program named "Programmers World Folder Repair Tool." Open this program, and follow through with the directions that it gives. The Programmer's
World Repair Tool has a list of all folders and files that are approved by the Programmer's World. Upon clicking the "Begin Repair" button in the program,
the program will scan your folder to see which of these files you have. It will then take the files that you do have, extract the data from them, and recreate
them in a temporary alternate location. After all of the files have been scanned, your entire "Programmers World Program Files" folder will be deleted and
recreated. All of the backups that were made will then be copied back into the folder, and the backups will be deleted. Because only approved folders and
files will be copied, everything else in the folder will be deleted. Just as this document has an update mechanism built into it, the repair tool has one
built into it to ensure that your approved files list stays up-to-date. It is imperative that you keep the repair tool up-to-date because running an
outdated version of the tool could result in the deletion of approved files when running the tool.</p>

<div id="title"><i>Where can I download the latest version of this document and the repair tool?</i></div>
<p>The latest version of this document can be found online at <a href="http://www.programmersworld.elementfx.com/standardFolder/aboutFolder.html">www.programmersworld.elementfx.com/standardFolder/aboutFolder.html</a>.
Currently, we do not have an online download link for the page, but we are working on it. The latest repair tool for this folder can be downloaded at
<a href="http://www.programmersworld.elementfx.com/standardFolder/repairToolNewestDownload">www.programmersworld.elementfx.com/standardFolder/repairToolNewestDownload</a>.</p>

<div id="title"><i>I want more help; where do I go to for it?</i></div>
<p>If you need more help with this page, you have a couple options. You can sign up on the Programmer's World Forums at
<a href="http://www.programmersworld.elementfx.com">www.programmersworld.elementfx.com</a> and send a private message to the username "Administrator." If
you do not wish to do that, you can drop an e-mail to the Programmer's World Forums at <a href="mailto:programminglanguageforums@gmail.com">programminglanguageforums@gmail.com</a>.
Thank you for taking the time to read this, rather than assuming it was a virus. We look forward to hearing from you.</p>

<style>p{text-indent:50px;}#title{font-size:25px;}</style>